<nav>
    <% if (!user) { %>
    <a href="/users/login"><i class="fas fa-home"></i>Login</a>
    <a href="/users/register"><i class="fas fa-home">Register</i></a>
    <% } else if (user && user.isAdmin) { %>
    <a href="/users/">All Users</a>
    <form action="/users/logout" method="post">
      <button type="submit">
        <i class="fa fa-trash">Logout</i>
      </button>
    </form>
    <% } else { %>
    <a href="/users/profile">Profile</a>
    <form action="/users/logout" method="post">
      <button type="submit">
        <i class="fa fa-trash">Logout</i>
      </button>
    </form>
    <% } %>
  </nav>