<%- include ("./includes/head")%>
<body>
    <%- include ("./includes/nav")%>
    <h1>Login</h1>
    <form action="/users/access" method="post">
        <label for="email"><i class="fas fa-user"></i><input type"email"></label>
        <label for="password"><i class="fas fa-key"></i><input type"password"></label>
   <button type="submit">Access</button>
        </form>
</body>
</html>